.sociallinks {
  display: flex;
  gap: 3rem;
  color: var(--standout);
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.sociallinks a {
  text-decoration: none;
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  height: 3rem;
  color: inherit;
  transition: all ease 0.2s;
  gap: 5rem;
}
.sociallinks span {
  text-decoration: none;
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  height: 3rem;
  color: inherit;
  transition: all ease 0.2s;
  gap: 5rem;
  cursor: pointer;
}
.sociallinks a i {
  transition: all ease-in-out 0.2s;
}
.sociallinks span i {
  transition: all ease-in-out 0.2s;
}
.sociallinks a:hover {
  transform: scale(1.1) translateY(-0.2rem);
}
.sociallinks span:hover {
  transform: scale(1.1) translateY(-0.2rem);
}
.sociallinks a:hover .fa-twitter {
  color: #00acee;
}
.sociallinks a:hover .fa-facebook-f {
  color: blue;
}
.sociallinks a:hover .fa-instagram {
  color: #c13584;
}
.sociallinks a:hover .fa-linkedin {
  color: #4875b4;
}
.sociallinks a:hover .fa-github {
  color: #807676;
}
.sociallinks span:hover .fa-discord {
  color: #2957e0;
}
