@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

}

.cta-text {
  font-size: 1.5rem;
  color: #f2ecff;
  text-align: left;
  width: 100%;
  font-family: "Poppins";
  line-height: 1.6;
  padding-bottom: 3rem;
}

.cta-text a {
  color: #f2ecff;
  font-weight: bold;
  text-decoration: none;
}

.cta-text a:hover {
  text-decoration: underline;
}

.cta-arrow {
  transform: rotate(45deg);
  justify-self: baseline
}
.animated-arrow {
  stroke: #f2ecff;
  stroke-width: 4;
  fill: none;

  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: drawArrow 3s infinite ease-out forwards;
}

@keyframes drawArrow {
  to {
    stroke-dashoffset: 0;
  }
}
