.stat {
  display: flex;
  flex-direction: column;
  align-items: center;

  .data {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }
  p {
    font-weight: 900;
    font-size: 2rem;
  }
}
.stroke-text {
  color: transparent;
  -webkit-text-stroke: 0.2rem black;
  text-stroke: 0.2rem black;
}
