/* Contact Section Styles */
.contact-section {
  background-color: transparent;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-right: 5rem;
}

.contact-container {
  max-width: 40vw;
  width: 100%;
  margin: 0 auto;
}

/* Header Styles */
.contact-header {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1;
}

.contact-accent {
  position: relative;
}

.contact-underline {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background-color: #ff4757;
}

.contact-subtitle {
  color: var(--fourthColor);
  font-size: 1.28rem;
  line-height: 1;
}

/* Form Styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-group {
  width: 100%;
}

.contact-input,
.contact-textarea {
  width: 100%;
  background-color: var(--divColor);
  color: var(--text);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: var(--thirdColor);
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: var(--standout);
  box-shadow: 0 0 0 0.2rem var(--standout);
}

.contact-textarea {
  resize: none;
  font-family: inherit;
}

/* Submit Button Styles */
.submit-container {
  display: flex;
  justify-content: flex-end;
}
.submitbutton {
  font-size: 1rem;
  color: var(--text);
  border: 0.2rem solid var(--standout);
  background-color: var(--standout);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  letter-spacing: 0.5rem;
  position: relative;
  overflow: hidden;
}

.submitbutton:hover {
  background-color: black;
  border: 0.2rem solid black;
  color: white;
}

.submitbutton:before {
  content: "";
  position: absolute;
  height: 15rem;
  width: 5rem;
  background: #fff;
  left: -5.5rem;
  top: -4rem;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

.submitbutton:hover:before {
  left: 95%;
}
.thank-you-container {
  text-align: center;
  background-color: transparent;
  animation: fadeIn 0.4s ease-in;
}

.thank-you-img {
  height: 18rem;
}

.thank-you-container h2 {
  font-size: 2rem;
  color: var(--thirdColor);
}

.thank-you-container p {
  font-size: 1rem;
  color: var(--fourthColor);
  max-width: 100%;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width:451px) {
  .contact-section{
    padding: 2rem 0;

    .contact-container{
      max-width: 100%;
    }
  }
  .thank-you-container{
    .thank-you-img{
      height: 15rem;
    }
    h2{
      font-size: 1.6rem;
    }
  }
}
