.workExperience {
  min-height: 100vh;
  padding: 1.6rem 6.4rem;
  font-family: "Poppins";
  background-color: var(--background);

  .workexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .company {
      display: flex;
      flex-direction: column;
      width: 90%;
      /* border: solid 0.5rem var(--divColor); */
      padding: 1.6rem;
      padding-right: 3rem;
      /* border-radius: 2rem; */
      background-color: var(--divColor);
      padding-bottom: 2.4rem;

      .compHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .compLogo {
          transition: filter 0.3s ease-in-out;
          height: 18rem;
          object-fit: cover;
          margin-left: 3rem;
        }
        .intelLogo {
          transition: filter 0.3s ease-in-out;
          height: 7.5rem;
          object-fit: cover;
          margin-left: 6rem;
          margin-top: 5.5rem;
          margin-bottom: 5.5rem;
        }
        .compLogo:hover {
          filter: drop-shadow(0 0 1rem red);
        }
        .intelLogo:hover {
          filter: drop-shadow(0 0 1rem #00c8fd);
        }
        .timeLine {
          color: var(--standout);
          font-size: 4rem;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          text-align: end;

          .dates {
            font-size: 2rem;
          }
        }
      }
      .aboutWork {
        display: flex;
        flex-direction: column;
        color: var(--text);
        position: relative;

        .team {
          position: absolute;
          align-self: flex-end;
          font-size: 1.4rem;
          text-align: right;
          width: 60%;
          font-family: "Poppins";
          font-weight: 600;
          top: -4rem;
          right: 0;
          color: var(--secondaryText);
        }

        .mywork {
          display: flex;
          flex-direction: column;
          align-items: center;

          .myWorkContainer {
            display: flex;
            flex-direction: column;
            width: 90%;
            padding-top: 2rem;

            .myworkheader {
              font-size: 2rem;
              font-weight: 700;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              margin-bottom: 1rem;
              color: var(--standout);
            }
            .workDone {
              margin-left: 4rem;
              font-size: 1.4rem;
              font-weight: 600;

              ul {
                line-height: 2.4rem;

                li:not(:last-child) {
                  margin-bottom: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
