.project-showcase {
  padding: 1.6rem 6.4rem;
  font-family: "Poppins", "sans-seriff";
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4rem;
  flex-wrap: wrap;
  position: relative;
}
.project-container-end {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  flex-wrap: wrap;
  position: relative;
}

.project-image-wrapper {
  background-color: var(--divColor);
  position: relative;
  height: 50vh;
  width: 50vw;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-image-wrapper:hover {
  transform: translateY(-0.8rem) scale(1.02);
  box-shadow: 0 0 2.5rem var(--standout);
}

.project-image {
  position: absolute;
  left: 0;
  top: 10%;
  max-height: 80%;
  max-width: 80%;
}
.project-image-end {
  position: absolute;
  right: 0;
  top: 10%;
  max-height: 80%;
  max-width: 80%;
}

.project-details {
  position: absolute;
  max-width: 55rem;
  left: 50%;
}
.project-details-end {
  position: absolute;
  max-width: 55rem;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--thirdColor);
}

.project-title .highlight {
  color: var(--secondaryText);
  font-size: 4rem;
  font-weight: 800;
}

.project-description {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: var(--secondaryText);
}

.projectbutton {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
