.project-showcase {
  padding: 1.6rem 12.8rem;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
}
.project-container-end {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  position: relative;
}

.project-image-wrapper {
  background-color: var(--background2);
  position: relative;
  height: 50vh;
  width: 50vw;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-image-wrapper:hover {
  transform: translateY(-0.8rem) scale(1.02);
  box-shadow: 0 0 2.5rem var(--standout);
}

.project-image {
  position: absolute;
  left: 0;
  top: 10%;
  max-height: 80%;
  max-width: 80%;
}
.project-image-end {
  position: absolute;
  right: 0;
  top: 10%;
  max-height: 80%;
  max-width: 80%;
}

.project-details {
  position: absolute;
  max-width: 55rem;
  left: 55%;
}
.project-details-end {
  position: absolute;
  max-width: 55rem;
  right: 55%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.project-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--thirdColor);
}

.project-title .highlight {
  color: var(--secondaryText);
  font-size: 3.2rem;
  font-weight: 800;
}

.project-description {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: var(--secondaryText);
}

.projectbutton {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 451px) {
  .project-showcase {
    padding: 0;
    gap: 2rem;
  }
  .project-image-wrapper {
    width: 100vh;
    height: 40vh;
  }
  .wrapper-jobapp {
    display: block;
    background-color: rgba(0, 0, 0, 0.863);
    background-image: url("/jobapp.webp");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  .wrapper-docthor {
    display: block;
    background-color: rgba(0, 0, 0, 0.521);
    background-image: url("/docthor.webp");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  .wrapper-rowdychat {
    display: block;
    background-color: rgba(0, 0, 0, 0.719);
    background-image: url("/rowdyChat.webp");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  .project-image {
    display: none;
  }
  .project-image-end {
    display: none;
  }
  .project-details {
    position: absolute;
    left: 25%;
  }
  .project-details-end {
    position: absolute;
    right: 25%;
  }
  .project-title {
    font-size: 1.4rem;

    .highlight {
      font-size: 2rem;
    }
  }
  .project-description {
    font-size: 1.4rem;
  }
}
